@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

:root {
	/* Colors */
	--primary-violet: hsl(257, 40%, 49%);
	--primary-soft-magenta: hsl(300, 69%, 71%);
	--neutral-white: hsl(0, 0%, 100%);

	/* Typhography */
	--family-poppins: "Poppins", sans-serif;
	--family-open-sans: "Open Sans", sans-serif;
	--fw-400: 400;
	--fw-600: 600;
}

*,
*::before,
*::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: var(--family-poppins);
	background-color: var(--primary-violet);
	background-image: url(../images/bg-desktop.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 100rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.text-white {
	color: var(--neutral-white);
}

.text-violet {
	color: var(--primary-violet);
}

.bg-white {
	background-color: var(--neutral-white);
}

header {
	margin-top: 2rem;
}

header img {
	width: 16%;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3.5rem;
}

main img {
	width: 55%;
}

.desc {
	align-self: flex-start;
	margin-top: 2rem;
}

.desc h1 {
	font-size: 2.3rem;
	font-weight: var(--fw-600);
	margin-bottom: 1.3rem;
}

.desc p {
	font-size: 1rem;
	font-weight: var(--fw-400);
	font-family: var(--family-open-sans);
	line-height: 1.7rem;
	margin-bottom: 1.5rem;
}

.desc button {
	padding: 0.8rem 1.3rem;
	width: 37%;
	font-size: 1rem;
	font-weight: var(--fw-400);
	font-family: var(--family-poppins);
	border-radius: 50px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.527);
	cursor: pointer;
	transition: 0.2s ease-out;
}

.desc button:hover {
	background-color: var(--primary-soft-magenta);
	color: var(--neutral-white);
}

ul {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	margin-bottom: 0.5rem;
}

li a {
	padding: 0.5rem;
	display: flex;
	border: 1px solid var(--neutral-white);
	border-radius: 50px;
	cursor: pointer;
	transition: 0.2s ease-out;
	font-size: 16px;
	color: var(--neutral-white);
}

li a:hover {
	border: 1px solid var(--primary-soft-magenta);
	border-radius: 50px;
	color: var(--primary-soft-magenta);
}

.attribution {
	font-size: 11px;
	text-align: right;
	color: var(--neutral-white);
}

.attribution a {
	color: var(--primary-soft-magenta);
}

.attribution a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 990px) {
	body {
		background-image: url(../images/bg-mobile.svg);
		background-size: contain;
	}

	.container {
		width: 80%;
		gap: 3.5rem;
	}

	header img {
		width: 50%;
	}

	main {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	main img {
		width: 100%;
	}

	.desc {
		margin: 0;
		text-align: center;
	}

	.desc h1 {
		font-size: 1.5rem;
	}

	.desc p {
		line-height: 1.5rem;
	}

	.desc button {
		padding: 0.75rem 1.3rem;
		width: 70%;
		font-size: 0.9rem;
	}

	ul {
		justify-content: center;
	}

	.attribution {
		text-align: center;
	}
}
